body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f9/D314_West_Rail_Line_21-06-2016.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
  background-size: cover;
}

.box-wrapper {
  /* display: flex;
  flex-direction: column; */
  padding: 10px;
  margin: 10px;
  background-color: rgba(0,0,0,0.75);
  width: fit-content;
  height: 100%;
}

.box {
  border: black 6px solid;
  margin: 5px;
  width: 45vw;
}

.destination {
  font-size: 30px;
}

.time-box {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.light-time-box {
  background-color: #ffffff;
}

.dark-time-box {
  background-color: #74c7d7;
}

.platform-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.platform-indicator {
  background-color: #e24a89;
  border-radius: 30px;
  color: #ffffff;
  height: 35px;
  font-size: 30px;
  margin-right: 20px;
  text-align: center;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.duration {
  font-size: 30px;
  font-weight: bold;
  width: 90px;
}

.minute {
  font-size: 15px;
  font-weight: normal;
  margin-left: 8px;
}

.time {
  background-color: #1b2442;
  padding: 5px;
  color: #ffffff;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}


.navbar-dark{
    background-color: deeppink!important
} 